@media (max-width: $screen-md) {

	.main-content {

	}

	.section {
		min-height: 600px;
	}

}


@media (max-width: $screen-sm) {
	
	.container {
		max-width: 598px;
		padding: 0 15px;
	}

	.main-content {

	}

	.section {
		min-height: 1px;
		padding-bottom: 30px;
	}

}