@media (max-width: $screen-sm) {

	#timescale {

		.trigger {
			width: 185px;
			padding: 10px 20px 10px 16px;

			img {
				width: 130px;
				height: auto;
			}

			svg {
				width: 9px;
			}
		}

		.content {
			width: 100%;
			padding: 10px 20px 20px;

			.head {
				font-size: 24px;
				padding: 0;
			}

			.subhead {
				font-size: 20px;
				padding: 8px 0 10px;
			}

			form {
				padding: 0;

				.btn-col {
					margin-top: 17px;
				}

				.btn {
					height: 60px;
					font-size: 15px !important;
				}
			}
		}
	}

	#email-form {
		margin: 0;
		
		button {
			margin-top: 12px;
			font-size: 24px !important;
			height: 60px;
		}

		.text1 {
			font-size: 19px;
			line-height: 24px;
			letter-spacing: 0.005em;
			padding-bottom: 10px;
		}

		.text2 {
			padding-bottom: 15px;
		}

		.form-check {

			.form-check-label {
				padding-left: 26px;

				&:after,
				&:before {
					top: 3px;
					transform: translateY(0);
				}

				&:after {
					font-size: 13px;
					width: 14px;
				}

				&:before {
					width: 14px;
					height: 14px;
				}
			}
		}
	}

	.form-check-label {
		font-size: 13px;
		line-height: 19px;
		letter-spacing: 0.005em;
		margin-left: 0;
	}

	input[type="email"] {
		height: 60px;
		font-size: 20px;
		line-height: 14px;
		padding: 10px 15px;
	}

	#share-div {
		padding-top: 180px;
	}
	
}