@media (max-width: $screen-md) {

	.download-modal {

		.link {
			margin: 85px 0 65px;
		}
	}
}

@media (max-width: $screen-sm) {

	.question-list {
		display: none;
	}

	.download-modal {

		.link {
			font-size: 18px;
			margin: 25px 0 25px;
		}
	}

	.methodology-modal {

		p {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	.question-section {
		padding: 55px 25px;

		.container {
			padding: 0;
		}
		.chart-wrap {
			.bar-row {
				width: 100%;
			}
			.answer {
				width: 100%;
				text-align: left;
				padding-bottom: 10px;
			}
			.percentage {
				width: 50px;
			}
			li {
				flex-direction: column;
			}
		}
	}
}