@media (max-width: 1650px) {

	.quote-section {

		.img-wrap {
			left: 160px;
		}

		&-dark {

			.img-wrap {
				left: -120px;
			}
		}
	}

}

@media (max-width: $screen-xxl) {

	.img-left-section {

		.img-wrap {

			div {
				display: flex;
				align-items: center;
			}
		}
	}

	.ecosystem-tools {
		min-height: 1px;

		.img-wrap {

			div {
				height: 45vw;
			}
		}
	}

	.quote-section {

		.img-wrap {
			max-width: 80%;
			left: auto;
			right: 0;
		}

		.text-wrap {
			max-width: 510px;
		}

		&-dark {

			.img-wrap {
				left: -100px;
				right: auto;

				div {
					padding-top: 0;
				}
			}
		}
	}

}

@media (max-width: $screen-xl) {

	.img-right-section,
	.img-left-section {

		.img-wrap {
			width: 70%;
		}

		.text-wrap {
			max-width: 40%;
		}
	}

	.img-right-section {

		.img-wrap {
			left: auto;
			right: 0;

			div {
				padding-top: 0;
				display: flex;
				align-items: flex-end;
			}
		}
	}

}

@media (max-width: $screen-md) {
	.text-section {
		padding: 0 30px;
	}
	.intro {

		&-content {
			padding: 35px 0 45px;
			min-height: calc(100vh - 91px);
		}

		.year {
			font-size: 30px;
			margin-bottom: 20px;
		}

		h1 {

			span {
				font-size: 40px;
				line-height: 54px;
			}
		}

		.subtitle {
			font-size: 20px;
			margin: 30px 0 0;
		}

		.scroll-text {
			font-size: 20px;
			line-height: 33px;
		}
	}

	.text-wrap {

		.info {
			font-size: 26px;
			line-height: 119.5%;
			font-weight: 600;
			letter-spacing: 0.008em;
			margin-bottom: 10px;
		}

		.description {
			font-size: 16px;
			margin-bottom: 10px;
			line-height: 130.5%;
			letter-spacing: 0.04em;
		}

		.quote {
			font-size: 46px;
			line-height: 60px;
		}

		.autor {
			font-size: 25px;
			line-height: 32px;
			margin-top: 25px;
		}
	}

	.quote-section {
		padding-bottom: 0;

		.container {
			display: flex;
			flex-direction: column;
		}

		.img-wrap {
			max-width: 100%;
			position: static;
			width: 100% !important;

			div {
				position: static;
			}

			img {
				height: auto;
				width: 100%;
			}
		}

		.text-wrap {
			max-width: 80%;
			margin: 0 auto 30px;
		}

		&-dark {

			.container {
				flex-direction: column-reverse;
			}
		}
		.curly-quotes {
			&.bigger:before {
				top: -20px;
			}
			&.bigger:before, &.bigger:after {
				font-size: 125px;
			}
		}
	}

	.text-section {

		.text-wrap {
			text-align: center;
		}
	}

	.info {
		font-size: 27px;
	}

	.description {
		font-size: 22px;
	}

}

@media (max-width: $screen-sm) {

	.model {
		min-height: 300px;
	}
	.intro {

		&-content {
			padding: 40px 0 50px;
			min-height: 100vh;
		}

		.year {
			font-size: 22px;
		}

		h1 {

			span {
				font-size: 27px;
				line-height: 38px;
			}
		}

		.subtitle {
			font-size: 20px;
			line-height: 26px;
			margin: 20px -5px 0;
			font-weight: normal;
		}

		.scroll-text {
			font-size: 16px;
			line-height: 26px;
		}

		.button-icon {
			margin-top: 0;

			i {
				font-size: 16px;
			}
		}
	}

	.text-wrap {
		max-width: 100% !important;
		text-align: center;

		.subhead {
			font-size: 15px;
			line-height: 22px;
		}

		.info {
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 6px;
		}

		.description {
			margin-bottom: 6px;
		}

		.quote {
			font-size: 36px;
			line-height: 42px;
		}

		.autor {
			font-size: 20px;
			line-height: 26px;
			margin-top: 15px;
		}
	}

	.img-wrap {
		position: static;
		width: 100% !important;

		div {
			position: static;
		}
	}

	.img-left-section {

		.container {
			display: flex;
			flex-direction: column-reverse;
		}

		.img-wrap {

			img {
				height: auto;
				width: 100%;
			}
		}

		.text-wrap {
			margin-bottom: 30px;
		}
	}

	.ecosystem-tools {
		padding-bottom: 0;

		&-content {
			flex-direction: column-reverse;
			max-width: 598px;
			padding: 0 15px;
			margin: 0 auto;
		}

		.img-wrap {

			div {
				height: auto;
			}

			img {
				height: auto;
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
			}
		}

		.text-wrap {
			padding: 0;

			.text {
				max-width: 100%;
				margin-bottom: 30px;
			}
		}
	}

	.row_section {
		flex-direction: column;
		height: auto;
	}

	canvas {
		height: 300px !important;
	}

	#water canvas {
		height: 400px !important;
	}

	#water .text-section {
		min-height: 1px;
		padding: 110px 40px 110px;
	}

	.info {
		font-size: 20px;
		line-height: 24px;
	}

	.description {
		font-size: 16px;
		line-height: 21px;
		font-weight: normal;
		letter-spacing: 0.04em;
	}
	.no-model {
		height: 300px;
	}
	.quote-section {
		height: auto;

		.quote-text {
			padding: 0 40px 0px;
		}
		.curly-quotes {
			&.bigger:before {
				top: -40px;
			}
			&.bigger:before, &.bigger:after{
				font-size: 50px;
				line-height: 65px;
			}
		}

		.text.quote {
			margin: 0;

			.info {
				font-size: 17px;
				line-height: 22px;
				padding-bottom: 16px;
			}

			.name {
				padding-top: 0;
				font-size: 12px;
				line-height: 16px;
			}
		}
	}

	.curly-quotes {

		&:before {
			top: -32px;
			left: -2px;
			height: 30px;
			line-height: 50px;
			font-size: 50px;
		}
		&.bigger:before {
			left: inherit;
			top: -50px;
		}
		&.bigger:before, &.bigger:after {
			line-height: 50px;
			font-size: 80px;
		}
	}

	.info-title {
		font-size: 35px !important;
		line-height: 42px !important;
	}

	#water,
	#quote {

		.container {
			padding: 0;
		}

		.text-wrap {

			.info {
				font-size: 30px !important;
				line-height: 37px !important;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	#quote {
		padding: 55px 25px;
		min-height: 320px;
	}

	.text-section {

	}

}