@media (max-width: $screen-md) {

	#water-texts {
		
		.water-text {

			.text br {
				display: none;
			}
		}
	}
	
}


@media (max-width: $screen-sm) {

	.text-section {
		padding: 0 25px;
	}

	#water-texts {
		
		.water-text {

			.number {
				font-size: 90px;
				letter-spacing: 0.008em;
			}

			.percent {
				font-size: 35px;
			}

			.text {
				font-size: 20px;
			}
		}
	}
	
}