@media (max-width: $screen-md) {

	#water-texts {

		.water-text {

			.text br {
				display: none;
			}
		}
	}

}


@media (max-width: $screen-sm) {

	.text-section {
		padding: 0 25px;
	}

	.water_row_section row {
		height: 440px;
	}

	#water-texts {
		height: 500px;

		.water-text {
			.number {
				font-size: 90px;
				letter-spacing: 0.008em;
			}

			.percent {
				font-size: 35px;
				padding: 15px 0;
			}

			.text {
				font-size: 20px;
			}
		}
	}
	#email-form {
		    margin: 0 25px 0 25px;
	}

}