@media (max-width: $screen-md) {

	#water-texts {

		.water-text {

			.text br {
				display: none;
			}
		}
	}
	
}

@media (max-width: $screen-sm) {

	.text-section {
		padding: 0 25px;
	}

	.water_row_section {
		height: 340px;
	}

	#water-texts {
		height: auto;
		padding: 0 25px 55px;

		.water-text {
			padding-top: 22px;

			.text br {
				display: inline-block;
			}

			.number {
				font-size: 70px;
				letter-spacing: -0.012em;
			}

			.percent {
				font-size: 35px;
				padding: 15px 10px 20px 0px;
			}

			.text {
				font-size: 16px;
				line-height: 130.5%;
				letter-spacing: 0.04em;
				margin-top: -15px;
			}
		}
	}
	#email-form {
		    margin: 0 25px 0 25px;
	}

	.quote-section {
		.model > div {
			height: 300px;
		}
	}
}