body {
	color: $color-text;
	font-family: $font-primary;
	font-weight: normal;
	background: $bg-gray;
	position: relative;
	word-wrap: break-word;
	overflow-x: hidden;

	&.bg-dark {
		background: #080808;
	}

	&.overflow {
		overflow: hidden;
	}
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 25px;
}

.container-fluid {
	padding: 0;
}

.section {
	min-height: 750px;
	padding-bottom: 60px;
	position: relative;
	display: flex;
	align-items: center;
}

#root {
	overflow: hidden;
}

.main-wrap {
	transition: 0.3s;

	&.translated {
		margin-left: 185px;
	}
}
