#timescale {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 15px;

	.trigger {
		justify-content: space-between;
		align-items: center;
		width: 225px;
		background: #FFFFFF;
		padding: 20px;
		cursor: pointer;
		box-shadow: -5px 5px 9px rgba(0, 0, 0, 0.06);
		svg {
			color: $color-primary;
		}
	}

	.content {
		width: 430px;
		background: #FFFFFF;
		box-shadow: -5px 5px 9px rgba(0, 0, 0, 0.06);
		padding: 25px;

		form {
			padding: 10px 0 0 0;
		}
	}
}

#email-form {
	/* or 62px */
	letter-spacing: 0.005em;
	margin: 100px 55px 0 55px;
	max-width: 380px;

	.form-group {
		margin-bottom: 0;
	}

	.footer {
		max-width: 400px;
	}

	.text1 {
		font-size: 25px;
		padding-bottom: 25px;
		line-height: 141%;
		font-weight: normal;
		color: $color-text;
	}

	.text2 {
		font-size: 14px;
		line-height: 154%;
		padding-bottom: 50px;
		color: $color-text;
	}

	button {
		font-size: 16px !important;
	}

	.form-check {
		padding: 0;

		input[type="checkbox"] {
			opacity: 0;
			visibility: hidden;
			width: 0;
			height: 0;
			overflow: hidden;

			&:checked + .form-check-label {

				&:after {
					content: '\1F5F8';
				}
			}
		}

		.form-check-label {
			font-size: 14px;
			font-weight: 400;
			padding-bottom: 0;
			color: $color-text;
			position: relative;
			padding-left: 38px;

			&:after,
			&:before {
				content: '';
				display: inline-block;
				@include center(vertical);
				left: 0;
			}

			&:after {
				font-size: 20px;
				line-height: 1;
			    font-weight: bold;
			    width: 20px;
			    margin-top: 1px;
			    text-align: center;
			}

			&:before {
				width: 20px;
				height: 20px;
				background: #fff;
				border: 1px solid #BDBDBD;
			}
		}
	}
}
 #timescale, #email-form {
	 .head {
		 font-weight: 600;
		 font-size: 22px;
		 line-height: 24px;
		 padding: 0 0 10px 0;
		 &.main {
			 font-size: 18px;
			 margin-right: 10px;
		 }
		 &.subtext {
			 font-size: 18px;
			 @media (max-width: 768px) {
				 font-weight: normal;
				 font-size: 16px;
			 }
		 }
	 }
	 .subhead {
		 padding: 10px 0;
		 font-size: 16px;
		 line-height: 24px;
	 }
	 .response {
		 width: 100%;
		 display: flex;
		 justify-content: center;
		 @media (max-width: 768px) {
			 flex-direction: column;
			 align-items: center;
		 }
	 }
 }

label {
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 10px;
}
input[type="email"] {
	border-radius: 0;
	height: 50px;
}
.form-control {
	color: $color-text !important;
	padding-left: 18px;
	padding-right: 18px;
}
.form-control::-moz-placeholder {
	color: #080808;
}
.form-control:-ms-input-placeholder {
	color: #080808;
}
.form-control::-webkit-input-placeholder {
	color: #080808;
}

button {
	border-radius: 0 !important;
	font-size: 18px !important;
	width: 100%;
	height: 50px;
	background-color: $color-primary !important;
	border-color: $color-primary !important;
}
