.number {
	font-family: Miller Display;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 127.5%;
	letter-spacing: 0.008em;
	color: #404040;
	padding-bottom: 10px;
}

.info {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 127.5%;
	letter-spacing: 0.008em;
	color: #404040;
	padding-bottom: 10px;
}

.description {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 127.5%;
	letter-spacing: 0.01em;
	color: #4E8BEA;
}

.text {
	padding: 120px;
}