.number {
	font-family: Miller Display;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 127.5%;
	letter-spacing: 0.008em;
	color: #404040;
	padding-bottom: 10px;
}

.info {
	font-style: normal;
	font-weight: 600;
	font-size: 37px;
	line-height: 127%;
	letter-spacing: 0.008em;
	color: #404040;
	padding-bottom: 10px;
}
.text-section {
	.number, .info, .description {
		animation-duration: "1s";
		opacity: 0;
	}
}


.description {
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 127.5%;
	letter-spacing: 0.01em;
	color: #4E8BEA;
}

.text {
	margin-left: 100px;
}

.text.quote {
	margin: 120px 20px 20px 10px;
	.name {
		font-family: IBM Plex Sans;
		font-style: italic;
		font-weight: normal;
		font-size: 23px;
		line-height: 127.5%;
		letter-spacing: 0.01em;
		text-align: right;
		color: #404040;
	}
}

.curly-quotes-wrapper {
	position: relative;
}
.curly-quotes:before, .curly-quotes:after {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	height: 30px;
	line-height: 48px;
	font-size: 50px;
	color: #FBFBFB;
}

.curly-quotes:before {
	content: '\201C';
	left: -25px;
}

.curly-quotes:after {
	content: '\201D';
	bottom: 0;
	right: -25px;
}

.quote-by {
	display: block;
	padding-right: 10px;
	text-align: right;
	font-size: 13px;
	font-style: italic;
	color: #84775c;
}

.transition {
    transition: background-color 1s ease;

	.info, .text.quote, .name, .number {
        transition: color 1s ease;
	}
}

.black{
    background-color: #080808!important;
    .info, .text.quote, .name, .number, a:not(.active) {
        color: #FBFBFB!important;
	}
}

#email-form {
	font-family: Miller Display;
	/* or 62px */
	letter-spacing: 0.005em;
	color: #404040;
	max-width: 1200px;

	.footer {
		font-family: 'IBM Plex Sans';
		max-width: 400px;
	}
	.text1 {
		font-size: 25px;
		padding-bottom: 20px;
		line-height: 141%;
	}

	.text2 {
		font-size: 14px;
		line-height: 154%;
		padding-bottom: 50px;
	}

	label {
		font-family: IBM Plex Sans;
		font-weight: bold;
		font-size: 12px;
		padding-bottom: 10px;
	}

	input[type="email"] {
		font-family: IBM Plex Sans;
		border-radius: 0;
		height: 50px;
	}
	input[type="checkbox"] {
		border-radius: 0;
		width: 20px;
		height: 20px;
	}
	.form-check-label {
		margin-left: 20px;
		font-size: 14px;
		font-weight: 400;
	}
	.form-control::-moz-placeholder {
		color: #080808;
	}
	.form-control:-ms-input-placeholder {
		color: #080808;
	}
	.form-control::-webkit-input-placeholder {
		color: #080808;
	}
	button {
		border-radius: 0;
		font-size: 18px;
		width: 100%;
		height: 50px;
		font-family: IBM Plex Sans;
	}
}