.question-section {
	padding-top: 90px;
	padding-bottom: 90px;
	position: relative;
	
	&:after {
		content: "";
		width: calc(100% - 50px);
		@include position($bottom: 0, $left: 25px);
		height: 1px;
		background: #e2e2e2;
	}

	&.no-border {
		
		&:after {
			content: none;
		}
	}

	.text-wrap {
		max-width: 770px;
		margin: 0 auto 45px;
		text-align: center;
	}

	.question {
		font-size: 38px;
    	line-height: 52px;
		margin-bottom: 10px;
		font-weight: 600;	
	}

	.info-text {
		font-size: $font-size-sm;
		font-style: italic;
	}

	.chart-wrap {

		li {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.answer {
			width: 36%;
			padding-right: 30px;
			text-align: right;
			font-size: $font-size-sm;
		}

		.bar-row {
			width: 64%;
			display: flex;
			align-items: center;
		}

		.bar {
			height: 36px;
			margin-right: 25px;
			// border-left: 1px solid $color-secondary;
			border-radius: 2px;
			overflow: hidden;

			div {
				background: $color-secondary;
				width: 1px;
				height: 100%;
			}
		}

		.percentage {
			font-size: $font-size-sm;
		}
	}

	.map-wrap {
		text-align: center;

		.map-img-wrap {
			max-height: 568px;
			height: 30vw;
			margin-bottom: 40px;

			img {
				height: 100%;
				width: auto;
				margin: 0 auto;
			}
		}

		ul {
			display: inline-block;
			text-align: left;
		}

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.answer {
			padding-right: 30px;
			font-size: $font-size-sm;
		}

		.percentage {
			font-size: 16px;
			font-weight: $fw-700;
			color: $color-secondary;
			text-align: right;
		}
	}
}